[package]
name = "tenderdash-abci"
version = "0.29.1"
edition = "2021"
license = "Apache-2.0"
readme = "README.md"
categories = ["cryptography::cryptocurrencies", "network-programming"]
keywords = ["abci", "blockchain", "bft", "consensus", "tendermint"]
repository = "https://github.com/dashpay/tenderdash-abci-rs/tree/main/abci"
description = """
    tenderdash-abci provides a simple framework with which to build low-level
    applications on top of Tenderdash.
    """

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["flex-error/std", "flex-error/eyre_tracer"]
server = ["tracing-subscriber/fmt"]

[[example]]

name = "echo_socket"
required-features = ["server"]

[dependencies]
bytes = { version = "1.0", default-features = false }
prost = { version = "0.11", default-features = false }
tenderdash-proto = { version = "0.29.1", default-features = false, path = "../proto" }
tracing = { version = "0.1", default-features = false }
flex-error = { version = "0.4.4", default-features = false }
structopt = { version = "0.3", optional = true, default-features = false }
tracing-subscriber = { version = "0.2", optional = true, default-features = false }
